.why {
  @include min-tablet {
    display: flex;
    flex-wrap: wrap;
    @include min-desktop {
      flex-direction: row-reverse;
      gap: 130px;
    }
  }
  &.container {
    padding-bottom: 150px;
  }
  &__wrap {
    @include min-tablet {
      width: 500px;
    }
  }
  &__title {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.048em;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 18px;
    color: #555555;
    line-height: 30px;
    letter-spacing: 0.018em;
    margin-bottom: 44px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 418px;
    @media screen and (max-width: 479px) {
      flex-wrap: nowrap;
      flex-direction: column;
      gap: 30px;
      margin: auto;
      width: 193px;
    }
    @include min-tablet {
      margin-left: auto;
    }
  }
  &__item {
    width: 193px;
    padding: 20px 36px;
    background-color: #f7f7f7;
    @include min-mobile {
      &:nth-child(odd) {
        margin-right: 30px;
      }

      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }

      &:nth-child(even) {
        position: relative;
        top: 30px;
      }
    }

    &-number {
      display: flex;
      align-items: start;
      justify-content: center;
      font-size: 42px;
      font-weight: 700;
      & span {
        font-size: 16px;
        color: #ff6c00;
      }
    }
    &-text {
      font-size: 11px;
      font-weight: 600;
      text-align: center;
      margin-top: 6px;
    }
  }
}
