.booking {
  background-color: #191c26;
  color: $textColor;
  @include min-desktop {
    display: flex;
    justify-content: center;
    height: 625px;
    & .container {
      max-width: 600px;
      margin: 0;
    }
  }
  &__title {
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.07em;
    margin-bottom: 44px;
    @include min-tablet {
      text-align: start;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 44px;
    @include min-tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__field {
    background-color: inherit;
    padding-bottom: 8px;
    font-size: 11px;
    font-weight: 600;
    outline: none;
    border: none;
    border-bottom: 1px solid $textColorInherit;
    color: #fff;
    &:hover::placeholder {
      color: #fff;
    }
    &:hover {
      border-color: #fff;
    }
    @include min-tablet {
      width: calc(50% - 22px);
    }
  }
  &__message {
    height: 76px;
    resize: none;
    @include min-tablet {
      width: 100%;
    }
  }
  & .btn {
    margin: 0 auto;
    @include min-tablet {
      margin: 0;
    }
  }
}
